/* color */
.c1{color:#ffffff;}
.c2{color:#000000;}
.c3{color:#45579b;}
.c4{color:#666666}
.c5{color:#e87549;}
.c6{color:#3a5b98;}
.c7{color:#0752ae;}
.c8{color:#ff0000;}
.c9{color:#059501;}
.c10{color:#059501;}
.c11{color:#cccccc;}
.c12{color:#24a0d4;}
.c13{color:#f5875d;}
.c14{color:#999999;}
.c15{color:#cbcbcb;}
.c16{color:#e6002d;}
.c17{color:#333333;}
.c18{color:#018ae1;}
.c19{color:#C5CCD9;}
.c20{color:#5F7BAF;}
.c21{color:#43c392;}
.c22{color:#174da4;}
.c23{color:#6681b6;}
.c24{color:#3a5b98;}
.c25{color:#9c9c9c;}
.c26{color:#e30a0a;}
.c27{color:#ff7b15;}
.c28{color:#1a5cb2;}
.c29{color:#5b73a4;}
.c30{color:#3a5b98;}
.c31{color:#a0a0a0;}
.c32{color:#6682b6;}
.c33{color:#ee802b;}
.c34{color:#4f4f4f;}
.c35{color:#201201;}
.c36{color:#6890de;}
.c37{color:#d70d0d;}
.c38{color:#607ecb;}
.c39{color:#69b267;}
.c40{color:#404040;}
.c41{color:#c93030;}
.c42{color:#e3eaf4;}
.c43{color:#bcbcbc;}
.c44{color:#617ecc;}
.c45{color:#808080;}
.c46{color:#a7a7a7;}
.c47{color:#555555;}
.c48{color:#728ed6;}
.c49{color:#9d9d9d;}
.c50{color:#c4c1c1;}
.c51{color:#ababab;}
.c52{color:#d1d1d1;}
.c53{color:#e87549;}
.c54{color:#9f9fa9;}
.c55{color:#f1f1f1;}
.c56{color:#d2d2d4;}
.c57{color:#4b8afe;}
.c58{color:#ababab;}
.c59{color:#787878;}
.c60{color:#ffccb9;}
.c61{color:#feb091;}
.c62{color:#f9926a;}
.c63{color:#d85d2f;}
.c64{color:#8f8f8f;}
.c65{color:#7b7b7b;}
.c66{color:#f39800;}
.c67{color:#e95150;}
.c68{color:#cfcfcf;}
.c69{color:#6a6a6a;}
.c70{color:#989898;}
.c71{color:#646464;}
.c72{color:#f04948;}
.c73{color:#777879}
.c74{color:#a2a2a2;}
.c75{color:#747474;}
.c76{color:#415464;}
.c77{color:#e5e4e4;}
.c78{color:#ff647e;}
.c79{color:#1f8a70;}
.c80{color:#ff6d2f;}
.c81{color:#00a388;}
.c82{color:#98a4af;}
.c83{color:#ffe11a;}
.c84{color:#c1c1c1;}
.c85{color:#bedb39;}
.c86{color:#253746;}
.c87{color:#ffe100;}
.c88{color:#79bd8f;}
.c89{color:#ff4814;}
/* background-color-color */
.bc1{background-color:#ffffff;}
.bc2{background-color:#000000;}
.bc3{background-color:#cbd8e9;}
.bc4{background-color:#f9f9f9;}
.bc5{background-color:#e3eaf4;}
.bc6{background-color:#fafafa;}
.bc7{background-color:#6890de;}
.bc8{background-color:#7977d5;}
.bc9{background-color:#e1e1e1;}
.bc10{background-color:#dbe0e5;}
.bc11{background-color:#eaeaea;}
.bc12{background-color:#a5b0c2;}
.bc13{background-color:#ee802b;}
.bc14{background-color:#e7ecf6;}
.bc15{background-color:#24a0d4;}
.bc16{background-color:#3a5b98;}
.bc17{background-color:#6682b6;}
.bc18{background-color:#e3eaf9;}
.bc19{background-color:#eff3fc;}
.bc20{background-color:#becadf;}
.bc21{background-color:#4e4c4c;}
.bc22{background-color:#999999;}
.bc23{background-color:#e7e7e7;}
.bc24{background-color:#43c392;}
.bc25{background-color:#3d8dee;}
.bc26{background-color:#e2872e;}
.bc27{background-color:#4c6188;}
.bc28{background-color:#565656;}
.bc29{background-color:#fba51e;}
.bc27{background-color:#4c6188;}
.bc30{background-color:#e4eafa;}
.bc31{background-color:#eeeeee;}
.bc32{background-color:#fca51d;}
.bc33{background-color:#aabee6;}
.bc34{background-color:#ee802b;}
.bc35{background-color:#e30a0a;}
.bc36{background-color:#cccccc;}
.bc37{background-color:#cad8e8;}
.bc38{background-color:#dbdbdb;}
.bc39{background-color:#c2dfff;}
.bc40{background-color:#e7edf7;}
.bc41{background-color:#e87549;}
.bc42{background-color:#c93030;}
.bc43{background-color:#a0a0a0;}
.bc44{background-color:#69b267;}
.bc45{background-color:#607ecb;}
.bc46{background-color:#90c44e;}
.bc47{background-color:#f78352;}
.bc48{background-color:#7cdecb;}
.bc49{background-color:#fcbb50;}
.bc50{background-color:#bdb3f1;}
.bc51{background-color:#80bff6;}
.bc52{background-color:#fda4a5;}
.bc53{background-color:#fce85f;}
.bc54{background-color:#728ed6;}
.bc55{background-color:#86a0e2;}
.bc56{background-color:#98b0ec;}
.bc57{background-color:#b9b9b9;}
.bc58{background-color:#e2e2e2;}
.bc59{background-color:#787878;}
.bc60{background-color:#ffccb9;}
.bc61{background-color:#feb091;}
.bc62{background-color:#f9926a;}
.bc63{background-color:#d85d2f;}
.bc64{background-color:#b2b2b2;}
.bc65{background-color:#fee3cd;}
.bc66{background-color:#eaf1fd;}
.bc67{background-color:#f39800;}
.bc68{background-color:#bedb39;}
.bc69{background-color:#ff647e;}
.bc70{background-color:#ff6d2f;}
.bc71{background-color:#c1c1c1;}
.bc72{background-color:#1f8a70;}
.bc73{background-color:#79bd8f;}
.bc74{background-color:#f6b436;}
.bc75{background-color:#98a4af;}
.bc76{background-color:#ffa269;}
.bc77{background-color:#f3f4f5;}
/* border color */
.bd1{border-color:#ccc;}

/* background */
.bg1{background:red;}

/*placeholder字体颜色*/
/*::-webkit-input-placeholder {  WebKit browsers 
    color:    #000000;
}*/
/*:-moz-placeholder {  Mozilla Firefox 4 to 18 
    color:    #000000;
}*/
/*::-moz-placeholder {  Mozilla Firefox 19+ 
    color:    #000000;
}*/
/*:-ms-input-placeholder {  Internet Explorer 10+ 
    color:    #000000;
}*/
