.img3{
    background-image: url("../images/img3.png");
    width: 0.125em;
    height: 4.94em;
}
.img4{
    background-image: url("../images/img4.png");
    width: 2.22em;
    height: 1.22em;
}
.img5{
    background-image: url("../images/img5.png");
    width: 1.28em;
    height: 1.59em;
}
.img8{
    background-image: url("../images/img8.png");
    width: 0.125em;
    height: 6.4em;
}
.img10{
    background-image: url("../images/img10.png");
    width: 1.2em;
    height: 1.2em;
}
.img11{
    background-image: url("../images/img11.png");
    width: 1.1em;
    height: 1.31em;
}
.img12{
    background-image: url("../images/img12.png");
    width: 1.1em;
    height: 1.0em;
}
.img13{
    background-image: url("../images/img13.png");
    width: 1.2em;
    height: 1.2em;
}
.img14{
    background-image: url("../images/img14.png");
    width: 0.56em;
    height: 1.0em;
}
.img15{
    background-image: url("../images/img15.png");
    width: 1.0em;
    height: 0.56em;
}
.img16{
    background-image: url("../images/img16.png");
    width: 1.0em;
    height: 0.56em;
}
.img17{
    background-image: url("../images/img17.png");
    height: 2.22em;
    background-size: 100% 100%;
}
.img18{
    background-image: url("../images/img18.png");
    width: 1.25em;
    height: 1.25em;
}
.img19{
    background-image: url("../images/img19.png");
    width: 0.94em;
    height: 0.94em;
}
.img20{
    background-image: url("../images/img20.png");
    width: 6.87em;
    height: 5.34em;
}
.img21{
    background-image: url("../images/img21.png");
    width: 2.25em;
    height: 2.25em;
}
.img22{
    background-image: url("../images/img22.png");
    width: 1.25em;
    height: 1.25em;
}
.img23{
    background-image: url("../images/img23.png");
    width: 2.25em;
    height: 2.25em;
}
.img24{
    background-image: url("../images/img24.png");
    width: 1.5em;
    height: 1.5em;
}