/* left */
.l0{left:0em;}
.l1{left:.1em;}
.l2{left:.2em;}
.l3{left:.3em;}
.l4{left:.4em;}
.l5{left:.5em;}
.l6{left:.6em;}
.l7{left:.7em;}
.l8{left:.8em;}
.l9{left:.9em;}
.l10{left:1.0em;}
.l12{left:1.2em;}
.l14{left:1.4em;}
.l16{left:1.6em;}
.l17{left:1.7em;}
.l18{left:1.8em;}
.l20{left:2.0em;}
.l22{left:2.2em;}
.l24{left:2.4em;}
.l26{left:2.6em;}
.l27-7{left:2.77em;}
.l28{left:2.8em;}
.l30{left:3.0em;}
.l32{left:3.2em;}
.l34{left:3.4em;}
.l35{left:3.5em;}
.l36{left:3.6em;}
.l37{left:3.7em;}
.l38{left:3.8em;}
.l40{left:4.0em;}
.l42{left:4.2em;}
.l44{left:4.4em;}
.l46{left:4.6em;}
.l48{left:4.8em;}
.l50{left:5.0em;}
.l52{left:5.2em;}
.l54{left:5.4em;}
.l56{left:5.6em;}
.l58{left:5.8em;}
.l59{left:5.9em;}
.l60{left:6.0em;}
/* top */
.t0{top:0em;}
.t1{top:.1em;}
.t2{top:.2em;}
.t3{top:.3em;}
.t4{top:.4em;}
.t5{top:.5em;}
.t6{top:.6em;}
.t7{top:.7em;}
.t8{top:.8em;}
.t9{top:.9em;}
.t10{top:1.0em;}
.t12{top:1.2em;}
.t14{top:1.4em;}
.t16{top:1.6em;}
.t18{top:1.8em;}
.t20{top:2.0em;}
.t22{top:2.2em;}
.t24{top:2.4em;}
.t26{top:2.6em;}
.t28{top:2.8em;}
.t30{top:3.0em;}
.t32{top:3.2em;}
.t34{top:3.4em;}
.t36{top:3.6em;}
.t38{top:3.8em;}
.t40{top:4.0em;}
.t42{top:4.2em;}
.t44{top:4.4em;}
.t46{top:4.6em;}
.t48{top:4.8em;}
.t50{top:5.0em;}
.t52{top:5.2em;}
.t54{top:5.4em;}
.t56{top:5.6em;}
.t58{top:5.8em;}
.t60{top:6.0em;}
/* right */
.r0{right:0em;}
.r1{right:.1em;}
.r2{right:.2em;}
.r3{right:.3em;}
.r4{right:.4em;}
.r5{right:.5em;}
.r6{right:.6em;}
.r7{right:.7em;}
.r8{right:.8em;}
.r9{right:.9em;}
.r10{right:1.0em;}
.r12{right:1.2em;}
.r14{right:1.4em;}
.r16{right:1.6em;}
.r18{right:1.8em;}
.r20{right:2.0em;}
.r22{right:2.2em;}
.r24{right:2.4em;}
.r26{right:2.6em;}
.r28{right:2.8em;}
.r30{right:3.0em;}
.r32{right:3.2em;}
.r34{right:3.4em;}
.r36{right:3.6em;}
.r38{right:3.8em;}
.r40{right:4.0em;}
.r42{right:4.2em;}
.r44{right:4.4em;}
.r46{right:4.6em;}
.r48{right:4.8em;}
.r50{right:5.0em;}
.r52{right:5.2em;}
.r54{right:5.4em;}
.r56{right:5.6em;}
.r58{right:5.8em;}
.r60{right:6.0em;}
/* bottom */
.b0{bottom:0em;}
.b1{bottom:.1em;}
.b2{bottom:.2em;}
.b3{bottom:.3em;}
.b4{bottom:.4em;}
.b5{bottom:.5em;}
.b6{bottom:.6em;}
.b7{bottom:.7em;}
.b8{bottom:.8em;}
.b9{bottom:.9em;}
.b10{bottom:1.0em;}
.b12{bottom:1.2em;}
.b14{bottom:1.4em;}
.b16{bottom:1.6em;}
.b18{bottom:1.8em;}
.b20{bottom:2.0em;}
.b22{bottom:2.2em;}
.b24{bottom:2.4em;}
.b26{bottom:2.6em;}
.b28{bottom:2.8em;}
.b30{bottom:3.0em;}
.b32{bottom:3.2em;}
.b34{bottom:3.4em;}
.b36{bottom:3.6em;}
.b38{bottom:3.8em;}
.b40{bottom:4.0em;}
.b42{bottom:4.2em;}
.b44{bottom:4.4em;}
.b46{bottom:4.6em;}
.b48{bottom:4.8em;}
.b50{bottom:5.0em;}
.b52{bottom:5.2em;}
.b54{bottom:5.4em;}
.b56{bottom:5.6em;}
.b58{bottom:5.8em;}
.b60{bottom:6.0em;}